[include]
	path = ~/.gitconfig_local

[core]
	excludesfile = ~/.gitignore_global
	deltaBaseCacheLimit = 1G

[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = false

[alias]
	a = add
        A = add -A
	b = branch
	bd = branch --sort creatordate --no-merged develop
	bm = branch --sort creatordate --no-merged master
	c = checkout
	co = checkout
	#d = diff
	#ds = diff --staged
	f = fetch
	#g = grep
	#l = log
	m = commit -m
        p = push
        poo = !git push -u origin $(git branch | grep '^*' | cut -b 3-)
	s = status
	r = remote -v
	t = tag
        z = clean -fd
	amend = !git commit --amend --date=`date +%s` --no-edit
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t = \\2/' | sort
	wip = commit -m 'WIP' -a

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
